@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200,400&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	background-color: #75BCE6;
	overflow: hidden;
}

h1 {
	font-size: 10vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	margin: 0;
	text-align: center;
}

.line {
	background-color: #fff;
	border-radius: 50px;
	height: 3vh;
	width: 10vw;
	position: absolute;
	top: 50%;
	left: -2vw;
	transform: translateY(-50%);
	height: 3vh;
	z-index: 2;
	animation: grow 2s linear forwards;
}

@keyframes grow {
	to {
		width: 102vw;
	}
}

.overlay {
	z-index: 2;
}