body {
  font-family: "Dosis", "NanumSquare" !important;
}

#sample {
  height: 100vh;
  background-color: #6ecd56;
  background-image: linear-gradient(142deg, #bdcd56, #96cd56 31%, #6ecd56 65%, #56cd66);
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  color: #fff;
  font-size: 5vh;
  margin: 0;
  display: block;
}

h1 {
  color: #fff;
  font-size: 8vh;
  margin: 30px 0 0;
  display: block;
  font-weight: 100;
}
