@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200,400&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
}

.container {
	background-color: #333;
	padding: 1rem;
	margin-top: 1rem;
}

.draggable {
	padding: 1rem;
	background-color: white;
	border: 1px solid black;
	cursor: move;
}