@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200,400&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding:30px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #ccc;
	padding:8px;
}

tr:nth-child(even) {
	background-color: #ddd;
}

th {
	font-weight: bold;
}

tr:hover {
	background-color: #000;
	color: #fff;
}