@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200,400&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
}

.accordion {
	width: 768px;
	margin:0 auto;
	overflow: hidden;
	border-radius: 4px;
}

.accordion-header {
	display: flex;
	justify-content: space-between;
	padding: 0.75rem 1rem;
	width: 100%;
	background: #1f8dd6;
	border: none;
	outline: none;
	border-bottom: 1px solid #54a0ff;
	color: #fff;
	cursor: pointer;
}

.accordion-body {
	padding:0 1rem;
	background-color: #f3f3f3;
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

.accordion-body.active {
	max-height: 10rem;
	padding: 1rem;
}