@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200,400&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
}

#button {
	color: black;
	width: 150px;
	height: 50px;
	padding: 5px;
	background-color: aquamarine;
	position: absolute;
	cursor: pointer;
}